<footer>
    <ul>
        {% assign item = site.data.footer[0] %}
        <li><h2><a href="https://github.com/{{ item.github }}"><i class="fa-brands fa-github"></i></h2></li>
        <li><h2><a href="https://www.linkedin.com/in/{{ item.linkedin }}"><i class="fa-brands fa-linkedin"></i></a></h2></li>
        <li><h2><a href="https://www.facebook.com/{{ item.facebook }}"><i class="fa-brands fa-facebook"></i></a></h2></li>
        <li><h2><a href="https://www.instagram.com/{{ item.instagram }}"><i class="fa-brands fa-instagram"></i></a></h2></li>
    </ul>
</footer>