<footer>
    <div id="socials">
        <ul>
            <li><a href="https://github.com/jimbo23000/"><i class="fa-brands fa-github"></i></li>
            <li><a href="https://www.linkedin.com/in/antonio-ramos-26a504275"><i class="fa-brands fa-linkedin"></i></a></li>
            <li><a href="https://www.facebook.com/profile.php?id=100095210713329"><i class="fa-brands fa-facebook"></i></a></li>
            <li><a href="https://www.instagram.com/antonio23000/"><i class="fa-brands fa-instagram"></i></a></li>
        </ul>
    </div>
</footer>