.author {
    height: 125px;
    width: 400px;

    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}
.author h2 {
    font-style: italic;
}
.author img {
    border: 1px solid black;
    
    height: 125px;
    width: 125px;

    object-fit: cover;
    border-radius: 50%;
}