.blog {
    margin: 1%;
}

.blog .latest_post h1 {
    margin: 0%;
}

.blog .latest_post h2 {
    margin: 1%;
}

.blog .latest_post h2 a {
    text-decoration: none;
}

.blog .latest_post h2 a:hover {
    text-decoration: underline;
}

.blog .collapsible {
    background-color: #ca946f;
    border: none;
    font-size: large;
    outline: none;
    text-align: left;

    width: 100%;
    margin-top: 1%;
    padding: 1%;
}

.blog .collapsible:hover {
    background-color: #b9713f;
}

.blog .blog_posts {
    background-color: #dcb89f;
    display: none;
    overflow: hidden;

    padding-top: 1%;
    padding-bottom: 1%;
    padding-left: 2%;
    padding-right: 2%;
}

.blog .blog_posts ul {
    list-style: none;
    
    margin: 0%;
    padding: 0%;
}

.blog .blog_posts ul li {
    font-size: medium;

    margin-top: 1%;
    margin-bottom: 1%;
}

.blog .blog_posts ul li a {
    text-decoration: none;
}

.blog .blog_posts ul li a:hover {
    text-decoration: underline;
}