html, body {
    background-color: #eddbcf;
    font-family: "Anonymous Pro", sans-serif;

    height: 100%;
    margin: 0%;
    padding: 0%;
}

body {
    display: flex;
    flex-direction: column;
}

body .content {
    flex: 1;
}

button {
    font-family: inherit;
}

.collapsible {
    background-color: #ca946f;
    border: none;
    outline: none;
    text-align: left;
    font-size: 20px;
    width: 100%;

    margin-top: 1%;
    padding: 1%;
}

.collapsible:hover {
    background-color: #b9713f;
}