.member h1 {
    margin: 1%;
}

.member h2 {
    margin: 1%;
}

.member h2#position {
    margin-top: 1%;
    margin-bottom: 1%;
    margin-left: 2%;
}

.member img {
    border: 2px solid black;
    border-radius: 12px;

    margin-left: 1%;    
}

.member .content {
    margin: 1%;
}