.navbar ul{
    background-color: hsl(0, 0%, 50%);

    margin: 0px;
    padding: 0px;

    overflow: hidden;
    list-style-type: none;
}
.navbar li{
    float:left;
}
.navbar a{
    color: hsl(0, 0%, 100%);

    padding-left: 30px;
    padding-right: 30px;
    padding-top: 15px;
    padding-bottom: 15px;

    display: block;
    text-align: center;
    text-decoration: none;
}
.navbar a:hover{
    background-color: hsl(0, 0%, 25%);
}
.current {
    background-color: hsl(0, 0%, 25%);
}