.navigation .links ul {
    background-color: hsl(0, 0, 25%);
    display: flex;

    margin: 0%;
    padding: 0%;
}   
.navigation .links li {
    list-style: none;

    margin: 0%;
    padding: 1%;
}   
.navigation .links a {
    color: white;
    text-decoration: none;
}
.navigation .links li:hover {
    background-color: hsl(0, 0, 10%)
}