nav {
    margin: 0%;
    padding: 0%;
}

nav ul {
    background-color: #b9713f;
    display: flex;
    list-style: none;

    margin: 0%;
    padding: 0%;
}   

nav ul li {
    padding: 1%;
}   

nav ul li:hover {
    background-color: #a74d0f;
}

nav ul li h2 {
    margin: 1%;
    padding: 1%;
}

nav ul li h2 a {
    color: inherit;
    text-decoration: none;
}

nav .current_page {
    border-bottom: 2px solid black;
}