.navigation ul {
    background-color: hsl(0, 0%, 50%);

    margin: 0px;
    padding: 0px;

    overflow: hidden;
    list-style-type: none;
}
.navigation li {
    float:left;
}
.navigation a {
    color: hsl(0, 0%, 100%);

    padding-left: 30px;
    padding-right: 30px;
    padding-top: 15px;
    padding-bottom: 15px;

    display: block;
    text-align: center;
    text-decoration: none;

    /* Figure out how to use font.scss */
    font-weight: 700;
}
.navigation a:hover {
    background-color: hsl(0, 0%, 25%);
}
.navigation .current {
    background-color: hsl(0, 0%, 25%);
}