---
layout: default
---
<div class="member">
  <h1>
    {{ page.name }}
  </h1>
  <h2 class="anonymous-pro-regular-italic">
    {{ page.position }}
  </h2>
  <img src="{{ site.baseurl }}/assets/images/{{ page.pfp }}" alt="{{ page.pfp_alt_text }}" height="200">
</div>
{{ content }}
<div class="blog">
  <h2>
    {{ page.username }}'s Posts
  </h2>
  <ul>
    {% assign filtered_posts = site.posts | where: 'member', page.username %}
    {% for post in filtered_posts %}
      {% assign filename = post.path | split: '/' | last | split: '.' | first %}
      {% assign parts = filename | split: '-' %}
      {% assign filename = parts[3] %}
      {% for part in parts offset:4 %}
        {% assign filename = filename | append: ' ' | append: part %}
      {% endfor %}
      <li><a href="{{ post.url }}">{{ filename }}</a></li>
    {% endfor %}
  </ul>
</div>