---
layout: default
---
<div class="member">
  <h1>
    {{ page.name }}
  </h1>
  <h2 class="anonymous-pro-regular-italic" id="position">
    {{ page.position }}
  </h2>
  <img src="{{ site.baseurl }}/assets/images/{{ page.pfp }}" alt="{{ page.pfp_alt_text }}" height="200">
  <div class="content">
    {{ content }}
  </div>
  <h2>
    {{ page.username }}'s Blog Posts
  </h2>
</div>
<div class="blog" id="blog"></div>

<script type="application/json" id="site">
  {
    "posts":
    [
      {% for post in site.posts %}
        {
          "member": "{{ post.member }}",
          "url": "{{ post.url }}",
          "path": "{{ post.path }}",
          "date": "{{ post.date }}"
        }
        {% unless forloop.last %},
        {% endunless %}
      {% endfor %}
    ]
  }
</script>

<script type="application/json" id="page">
  { 
    "username": "{{ page.username }}" 
  }
</script>

<script src="../CategorizeBlogPosts.js"></script>

<script>
  const site = JSON.parse(document.getElementById("site").textContent);
  const page = JSON.parse(document.getElementById("page").textContent);
  categorizeBlogPosts(site, page);
</script>